<!DOCTYPE html>
<html lang="en">
<head>
  <title> Assumption Greek Orthodox Church </title>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href='http://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>

 <link rel="stylesheet" href="/css/base.css" type="text/css">
 <link rel="stylesheet" href="/css/responsive-calendar.css" type="text/css">

 <script>
  $(document).click(function (event) {
    var clickover = $(event.target);
    var $navbar = $(".navbar-collapse");               
    var _opened = $navbar.hasClass("in");
    if (_opened === true && !clickover.hasClass("navbar-toggle")) {   
     console.log("collapsed");  
     $navbar.collapse('hide');
   }
 });
</script>
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
</head>

<body disabled="disabled">
  <div class="container-fluid" style="background-image:url('/images/base/header.jpg'); background-repeat: repeat-x;">
    <div class="row">
      <div id="logo" class="col-sm-2 col-sm-offset-2" style="margin-top: 10px; margin-bottom: 10px;">
        <img src="/images/base/goarchlogo.png" style="float: right">
      </div>
      <div class="col-md-4 col-sm-6">
        <h1 class="header" style="color: #852335;">Assumption Greek Orthodox Church</h1>
        <h3 class="header" style="color: #852335;">Morgantown, WV</h3>
      </div>
      <div id="icon" class="col-md-2 hidden-sm hidden-xs">
        <img src = "/images/base/assumption.jpg" style="padding-top: 30px;">
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default" data-spy="affix" data-offset-top="197">
    <div class="container-fluid">
      <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span> 
       </button>
     </div>
     <div class="collapse navbar-collapse" id="myNavbar">
      <div id="navbar-pre" class="col-md-2"></div>
      <div id="navbar-full" class="col-md-7">
       <ul class="nav navbar-nav" style="">
        <li class="dropdown">
          <a href="/">Home</a>
            <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/about/us">About Us</a></li>
                <li><a href="/about/community">Community</a></li>
                <li><a href="/about/directions">Directions</a></li>
                <li><a href="/about/priest">Parish Priest</a></li>
                <li><a href="/about/council">Parish Council</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Orthodoxy
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/orthodoxy/about">What is Orthodoxy</a></li>
                  <li><a href="/orthodoxy/feastdays">Feast Days</a></li>
                  <li><a href="/orthodoxy/readings">Recommended Reading</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Calendar and Schedule
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/calendar/calendar">Calendar</a></li>
                    <li><a href="/calendar/schedule">Service Schedule</a></li>
                    <li><a href="/calendar/bulletin">Bulletin and News</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Organizations
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/organizations/choir">Choir</a></li>
                      <li><a href="/organizations/school">Sunday School</a></li>
                      <li><a href="/organizations/ocf">Orthodox Christian Fellowship (OCF)</a></li>
                      <li><a href="/about/council">Parish Council</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Special Events
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/events/blessing">House Blessing</a></li>
                        <li><a href="/events/backpack">Backpack Program</a></li>
                        <li><a href="/events/picnic">Church Picnic</a></li>
                        <li><a href="/events/baklava">Baklava Fundraiser</a></li>
                        <li><a href="/events/bread">Easter Bread Fundraiser</a></li>
                      </ul>
                    </li>
                    {{#if login}}
                    <li class=""><a href="/manage">Manage</a></li>
                    {{/if}}

                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="/contact-us">Contact Us</a></li>
                  </ul>
                </div>
              </nav>
              <div id="grad" class="container-fluid" style="padding-bottom: 20px;">
                <div class="row">
                  <div class="col-sm-offset-2 col-sm-8">
                  {{#each alerts}}
                      {{#if this.hasalert}}
                      {{#switch this.type}}
                          {{#case "Info"}}<div class="alert alert-info alert-dismissable" style="margin-top: 20px;">{{/case}}
                          {{#case "Warning"}}<div class="alert alert-warning alert-dismissable" style="margin-top: 20px;">{{/case}}
                          {{#case "Danger"}}<div class="alert alert-danger alert-dismissable " style="margin-top: 20px;">{{/case}}
                      {{/switch}}
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{this.alert_text}}
                      </div>
                      {{/if}}
                  {{/each}}
                  {{{body}}}
                </div>
              </div>
            </div>
            <footer class="container-fluid text-center" style="background-color: #96293c; color: white;"> 
              <div class="col-sm-3">
                <p style="text-align: left"> Copyright 2017 Assumption Greek Orthodox Church </p>
              </div>
              <div class="col-sm-2 col-sm-offset-7">
                <p> Website created by Alexandru Stanescu </p>
              </div>
            </footer>
          </body>
          </html>