

<h2>Service Schedule</h2>
<h3>Sunday</h3>
<p> 10:30 AM - Divine Liturgy <br />
	11:30 AM - Church School <br />
	12:15 PM - Fellowship in the Church Hall
</p>
<h2>Schedule for Feast Days &amp; Confession</h2>
<p>Specific times for feast day services and private/general confessions may be viewed on the <a href="/calendar/calendar">Monthly Calendar</a> page </p>

<h2> Schedule of Fast Days </h2>
<p> For a schedule of fast and feast days, refer to our <a href="/calendar/calendar"> Monthly Calendar</a> </p>