<div class="row">
	<h1> Welcome to the management page for Assumption Greek Orthodox Church </h1>
</div>

<div class="row">
	<h3> Manage Homepage Pictures <a href="/manage/homepage">Here</a></h3>	
</div>

<div class="row">
	<h3> Manage Alerts <a href="/manage/alerts">Here</a></h3>
		
</div>

<div class="row">
	<h3> Manage Councilmembers <a href="/manage/council">Here</a></h3>
</div>

<div class="row">
	<h3> Manage Organizations <a href="/manage/orgs">Here</a></h3>
</div>

<div class="row">
	<h3> Manage Special events <a href="/manage/events">Here</a></h3>
</div>

<div class="row">
	<h3> Upload New Bulletin <a href="/manage/bulletin">Here</a></h3>
</div>