<div class="container" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm" style="background-color: #DFBC54;">
                <form action="/contact-us">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject</label>
                            <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="general">General Questions</option>
                                <option value="inquiries">Inquiries about Orthodoxy</option>
                                <option value="suggestions">Suggestions</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend>Our Address</legend>
            <address>
                <strong>Assumption Greek Orthodox Church</strong><br>
                447 Spruce Street<br>
                Morgantown, WV 26505<br>
                Phone: 
                (304)-999-9999
            </address>
            <address>
                <strong>Email</strong><br>
                <a href="mailto:admin@assumptiongoarch.org">admin@assumptiongoarch.org</a>
            </address>
            </form>
        </div>
    </div>
</div>
