<div class="row">
	<h1 class="header"> Directions to Assumption Greek Orthodox Church </h1>
</div>
<div class="row">
<div class="col-lg-5">
	<h2 class="header"> From I-79 </h2>
	<p> 
		Take Exit 155 toward WV-7/ West Virginia University. Turn left onto Chaplain Road. Folow this for about 4 miles, and then turn left onto Fayette Street. Turn left at the 3rd cross street onto Spruce Street. The church parking lot will be almost immediately on your left. 
	</p>
	<h2 class="header"> From I-68 </h2>
	<p> 
		Take Exit 4 for WV-7 toward Sabraton. Follow WV-7 until you reach East Brockway Avenue. Turn Right there and follow until you reach South Walnut St. Take another right there, and then a right again on Spruce street. The church parking lot will be right before the church, on your left.
	</p>
</div>
<div class="col-lg-7">
	<div class="google-maps">
		 <iframe style="width: 600px; height: 400px; frameborder=0 border=0" class="right-direction" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCYHeb6n3S8POQy4rbM7NllM-haqB8lH7Y&q=Assumption+Greek+Orthodox+Church,Morgantown+WV"></iframe>
	</div>
</div>
</div>