
<div class="row">

	<div class="col-xs-12">
		<h1 class="header"> Father David Shaw <img style="float: right" class="img-responsive" src="/images/father.jpg" alt="Image of Father David Shaw"></h1>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis faucibus pharetra leo, in elementum libero elementum id. Nunc rhoncus eget lorem id commodo. Sed orci risus, placerat eget dignissim eget, accumsan sollicitudin nunc. Morbi ut mi consectetur, ultrices lectus vitae, aliquam justo. Sed ultricies eleifend congue. In ultrices finibus lobortis. Vestibulum dui mi, tempor vitae lacus ut, tempus sagittis ex. Praesent semper neque ac ex hendrerit, vel fermentum magna commodo.
		<br />
		Nunc et luctus ex. Donec sit amet finibus diam, vitae imperdiet enim. Donec quis ligula ac enim rhoncus dictum. Maecenas elementum mattis dolor, sed luctus felis efficitur id. Nulla ut eros at ex fringilla consequat. Fusce vel arcu id metus posuere ultricies. Vestibulum tortor dolor, gravida sed nibh non, finibus cursus urna. Cras maximus sollicitudin nibh, non fermentum lorem dictum vel. Maecenas sit amet lectus porttitor arcu gravida sodales at vitae mauris.
		<br />
		In tincidunt mauris ut enim pharetra, id consectetur enim suscipit. Integer tincidunt felis quam, et dignissim leo tempus quis. Nulla lacinia accumsan nunc, nec gravida elit eleifend id. Fusce consectetur nisl vel enim elementum commodo. Nam nec quam tempor, convallis nisi semper, ornare urna. Mauris in turpis accumsan, bibendum risus eu, bibendum sem. Sed vitae pellentesque enim, dignissim aliquam velit. Sed mollis quam nunc, ac commodo est venenatis nec.
		<br />
		Sed suscipit quam sed rutrum dapibus. In ullamcorper nibh eget nibh pulvinar, eu convallis augue bibendum. Maecenas tempor, nisi ac accumsan vulputate, augue risus varius velit, et sagittis erat orci ullamcorper sapien. Donec non sodales ante, eu molestie justo. Nam vel laoreet tellus, vel fermentum lectus. Nam quis cursus justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut lacus orci, mattis quis urna sit amet, congue dignissim turpis. Nulla quis nunc lobortis, egestas turpis non, auctor arcu. Sed non auctor mauris. </p>
	</div>
</div>